
<form method="post" action="/convertir">

    <!--<input type="text" name="Nombre">-->
    <p background:#b2bec3 ;>
    <input type="text" name="Numero">
    <input type="submit" value="Convertir"> 
    </p>
</form>

